.fondo-proyectos {
  background-color: #ffe0e9;
}

.fondo-slice {
  background-color: rgba(255, 255, 255, 0.50);
  display: flex;
  justify-content: center;
}

.title-proy {
  font-family: 'IM Fell DW Pica SC', serif;
  color: #292224;
}

.descr-proy {
  font-family: 'Palanquin', sans-serif;
  color: #292224;
}

.nav-tot {
  background-color: rgba(255, 255, 255, 0.50);
  font-family: 'Bad Script', cursive;
  color: #514a4c;
}

.nav-item:hover {
  background-color: #ccaeb7ab;
  color: #ffffff;
}

.nav-item:focus {
  background-color: #ccaeb7ab;
  color: #ffffff;
}

.nav-item:active {
  background-color: #ccaeb7ab;
  color: #ffffff;
}

.here {
  background-color: #ffe0e9;
}

.list-tot {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn-back-proy {
  background-color: #ccaeb7;
  color: #292224;
  font-family: 'Palanquin', sans-serif;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: box-shadow .28s cubic-bezier(.4, 0, .2, 1);
  will-change: box-shadow;
  border: none;
  border-radius: 2px
}

.text-back {
  font-size: 18px;
}

.icon-back {
  font-size: 14px;
}

a {
  color: #5d7fce;
}

@media (min-width: 768px) {
  .fondo-proyectos {
    height: 80vh;
  }
  .vis-xl {
    display: none;
  }
}

@media (max-width: 767px) {
  .vis-md {
    display: none;
  }
}

@media (min-width: 1920px) {
  .container {
    margin-top: 10vh! important;
  }
  .alt-xl {
    padding-bottom: 3rem;
  }
}